<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!--используем некое подобие цикла в thymeleaf; ${people} - наша коллекция и ей даём имя person  -->
<div th:each="person : ${people}">
<!--Делаем ссылку, что бы по каждому имени человека перейти на его страницу-->
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<!--Создаёт пустую строку(отступ)-->
<br/>
<!--Создает горизонтальную линию, которая будет отделять всех людей от кнопки создания нового человека -->
<hr/>
<!--Создали новую кнопку и ссылку на неё-->
<a href="/people/new">Create new person</a>
</body>
</html>