<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all person</title>
</head>
<body>
<!-- <div> - блок   используем некое подобие цикла в thymeleaf; ${people} - наша коллекция и ей даём имя person-->
<div th:each="person : ${people}">
<!--<a> делаем ссылку, что бы по каждому имени человека перейти на его страницу -->
    <a th:href="@{/people/{id}(id=${person.id})}"
       th:text="${person.name + ', ' + person.age}">user</a>
</div>

<!--Создаёт пустую строку(отступ)-->
<br/>
<!--Создает горизонтальную линию, которая будет отделять всех людей от кнопки создания нового человека -->
<hr/>
<!--Создали новую кнопку и ссылку на неё-->
<a href="/people/new"><button style="background-color: plum">Create new person</button></a>
</body>
</html>
<!--background - заливка фона -->
<!--color - цвет текста-->