<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<!--method - с каким HTTP методом будет отправляться; action - на какой URL эта форма будет передавать свои данные; object - указывается ключ который мы положили в controller-->
<form method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <input type="submit" value="Create!"/>
<!--    type - тип; field - поле у Person; id - что бы к нему обращаться по id-->
</form>
</body>
</html>